
<!-- Modal -->
<div class="modal fade" id="mainModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">HIHU ver 2.0 개발팀</h5>
            </div>
            <div style="font-size: 4.2vmin;" class="modal-body">

                항공소프트웨어공학과 18학번 김연호
                <br><br>
                항공소프트웨어공학과 19학번 강지민
                <br><br>
                항공소프트웨어공학과 19학번 김준재
                <br><br>
                항공소프트웨어공학과 19학번 박유찬
                <br><br>
                항공소프트웨어공학과 19학번 이근복
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫 기</button>
            </div>
        </div>
    </div>
</div>
    <footer class="my-3">
        <hr class="top">
        <ul class="nav justify-content-center pb-2 mb-2">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">홈
                    화면</a></li>
                    <li class="nav-item"><a href="mailto:wnswo7960@naver.com,dbcks4848@naver.com? &subject=Hihu 문의 및 요청사항" class="nav-link px-2 text-muted">메일보내기</a></li>
            <li class="nav-item"><a href="http://www.hanseo.ac.kr/intro2/intro.html"
                    class="nav-link px-2 text-muted">학교홈페이지</a></li>
            <li class="nav-item"><a href="#mainModal" class="nav-link px-2 text-muted" data-bs-toggle="modal">개발팀</a>
            </li>
        </ul>
        <p class="text-center text-muted">&copy; Hi! Hanseo University ver 2.0</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
        </script>