{% extends 'blog/base_full_width.html' %}
<!--blog/base.html 상속.-->
{% load crispy_forms_tags %}
{% load static %}
<header>
    <!--페이지 맨 위의 제목을 Blog에서 Create Post - Blog로 변경-->
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <link href="css/blog-post.css" rel="stylesheet">
</header>


{% block main_area %}
<!--main_area 부분 시작-->
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <!--enctype는 create_post를 통해 파일도 같이 전송한다는 의미, csrf는 웹 사이트를 CSRK공격으로 보호(폼 이용할 때 사용)-->
    {{form | crispy}}
    <!--게시물 작성하는 폼 생성-->
    <button type="submit" class="btn btn-primary float-right">글쓰기</button>
    <!--제출 버튼 생성-->
</form>
{% endblock %}
<!--main_area영역끝-->