<!doctype html>
<html lang="en">
    {% include 'single_pages/base_major.html' %}

  
    <!-- Custom styles for this template -->
    <link href="list-groups.css" rel="stylesheet">
  </head>
<body>
    <header>
        {% include 'blog/navbar.html' %}
      </header>
<div class="b-example-divider"></div>

<div class="list-group d-grid gap-2 border-0 w-auto">
  <div class="position-relative"><a href="https://www.hanseo.ac.kr/sub/info.do?page=030507&m=030507&s=hs">
    <label class="list-group-item py-3 pe-5" for="listGroupRadioGrid1">
      <strong class="fw-semibold">문화재보존학과</strong>
      <span class="d-block small opacity-75">Conservation of Cultural Heritage</span>
    </label></a>
  </div>

  <div class="group position-relative"><a href="https://www.hanseo.ac.kr/sub/info.do?page=030501&m=030501&s=hs">
    <label class="list-group-item py-3 pe-5" for="listGroupRadioGrid2">
      <strong class="fw-semibold">영화영상학과</strong>
      <span class="d-block small opacity-75">Film Production</span>
    </label></a>
  </div>

  <div class="group position-relative"><a href="https://www.hanseo.ac.kr/sub/info.do?page=030104&m=030510&s=hs">
    <label class="list-group-item py-3 pe-5" for="listGroupRadioGrid3">
      <strong class="fw-semibold">미디어문예창작학과</strong>
      <span class="d-block small opacity-75">Media Creative Writing</span>
    </label></a>
  </div>

  <div class="group position-relative"><a href="https://www.hanseo.ac.kr/sub/info.do?page=03sub4&m=030511&s=hs">
    <label class="list-group-item py-3 pe-5" for="listGroupRadioGrid4">
      <strong class="fw-semibold">디자인융합학과</strong>
      <span class="d-block small opacity-75">Design Convergence</span>
    </label></a>
  </div>

  <div class="group position-relative"><a href="https://www.hanseo.ac.kr/sub/info.do?page=030505&m=030505&s=hs">
    <label class="list-group-item py-3 pe-5" for="listGroupRadioGrid4">
      <strong class="fw-semibold">영상애니메이션학과</strong>
      <span class="d-block small opacity-75">Animation</span>
    </label></a>
  </div>

  <div class="group position-relative"><a href="https://www.hanseo.ac.kr/sub/info.do?page=030506&m=030506&s=hs">
    <label class="list-group-item py-3 pe-5" for="listGroupRadioGrid4">
      <strong class="fw-semibold">실용음악과</strong>
      <span class="d-block small opacity-75">Contemporary Music</span>
    </label></a>
  </div>

</div>
  </body>
  
<footer>
    {% include 'blog/footer.html' %}

</footer>
</html>