<!doctype html>
<html lang="en">
    {% include 'single_pages/base_major.html' %}

<body>
    <header>
        {% include 'blog/navbar.html' %}
      </header>
<div class="b-example-divider"></div>

<div class="list-group d-grid gap-2 border-0 w-auto">
  <div class="position-relative"><a href="https://www.hanseo.ac.kr/sub/info.do?page=030601&m=030601&s=hs">
    <label class="list-group-item py-3 pe-5" for="listGroupRadioGrid1">
      <strong class="fw-semibold">물리치료학과</strong>
      <span class="d-block small opacity-75">Physical Therapy</span>
    </label></a>
  </div>

  <div class="group position-relative"><a href="https://www.hanseo.ac.kr/sub/info.do?page=030604&m=030604&s=hs">
    <label class="list-group-item py-3 pe-5" for="listGroupRadioGrid2">
      <strong class="fw-semibold">작업치료학과</strong>
      <span class="d-block small opacity-75">Occupational Therapy</span>
    </label></a>
  </div>

  <div class="group position-relative"><a href="https://www.hanseo.ac.kr/sub/info.do?page=030612&m=030612&s=hs">
    <label class="list-group-item py-3 pe-5" for="listGroupRadioGrid3">
      <strong class="fw-semibold">바이오식품의과학과</strong>
      <span class="d-block small opacity-75">Biofood Science</span>
    </label></a>
  </div>

  <div class="group position-relative"><a href="https://www.hanseo.ac.kr/sub/info.do?page=030613&m=030613&s=hs">
    <label class="list-group-item py-3 pe-5" for="listGroupRadioGrid4">
      <strong class="fw-semibold">의료복지공학과</strong>
      <span class="d-block small opacity-75">Medical Engineering / Welfare Technology</span>
    </label></a>
  </div>

  <div class="group position-relative"><a href="https://www.hanseo.ac.kr/sub/info.do?page=030614&m=030614&s=hs">
    <label class="list-group-item py-3 pe-5" for="listGroupRadioGrid4">
      <strong class="fw-semibold">보건상담복지학과</strong>
      <span class="d-block small opacity-75">Health / Welfare Consulting</span>
    </label></a>
  </div>

  <div class="group position-relative"><a href="https://www.hanseo.ac.kr/sub/info.do?page=030615&m=030615&s=hs">
    <label class="list-group-item py-3 pe-5" for="listGroupRadioGrid4">
      <strong class="fw-semibold">피부미용화장품과학과</strong>
      <span class="d-block small opacity-75">Cosmetology</span>
    </label></a>
  </div>

  <div class="group position-relative"><a href="https://www.hanseo.ac.kr/sub/info.do?page=030603&m=030603&s=hs">
    <label class="list-group-item py-3 pe-5" for="listGroupRadioGrid4">
      <strong class="fw-semibold">방사선학과</strong>
      <span class="d-block small opacity-75">Radiological Science</span>
    </label></a>
  </div>

  <div class="group position-relative"><a href="https://www.hanseo.ac.kr/sub/info.do?page=030602&m=030602&s=hs">
    <label class="list-group-item py-3 pe-5" for="listGroupRadioGrid4">
      <strong class="fw-semibold">간호학과</strong>
      <span class="d-block small opacity-75">Nursing</span>
    </label></a>
  </div>

  <div class="group position-relative"><a href="https://www.hanseo.ac.kr/sub/info.do?page=030607&m=030607&s=hs">
    <label class="list-group-item py-3 pe-5" for="listGroupRadioGrid4">
      <strong class="fw-semibold">치위생학과</strong>
      <span class="d-block small opacity-75">Dental Hygiene</span>
    </label></a>
  </div>

</div>
  </body>
  
<footer>
    {% include 'blog/footer.html' %}

</footer>
</html>